#include"Awindow.h"
#include<windows.h>

ID_MAIN MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Save Password\tCtrl+S",	ID_SAVE
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4",			ID_EXIT
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents\tF1",			ID_HELP
		MENUITEM SEPARATOR
		MENUITEM "&About",					ID_ABOUT
	END
END

ID_MAIN ACCELERATORS
BEGIN
	"S", ID_SAVE, VIRTKEY, CONTROL
	//VK_F1, ID_HELP, VIRTKEY
	//VK_F4, ID_EXIT, VIRTKEY
END
